.navbar{
    background-color: white;
    padding-top: 0%;
    margin-top: 0em;
}
a{
    color:black;
}
.jumbotron{
    background-color: black;
}
.light{
    color: white;
    text-align: center;
}
.footer{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    background-color: #070707;
    text-align: center;
 }
 .dark{
     color: black;
 }
 .small-images{
     margin-top: 20px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }
 .large-image{
     margin: auto;
     max-width: 500px;
     height: auto;
 }
 .small-image{
    height:auto;
    max-height: 100px;
    max-width:100px;
 }
 .column-flex{
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.row-flex{
    margin: 0px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
.image-border{
    z-index: 1;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}
.images-group{
    height:auto;
    max-width:400px;
    margin: 0px;
}
.text-group{
    height:auto;
    max-width:400px;
    margin: 10px;
}
.shadow{
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 50px #000000;
}
.contri-button{
    height:auto;
    max-width:400px;
    background-color: #484849;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.support-staff-text{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.ppe-text{
 font-size: 20px;
 font-weight: bold;
 color: black;
 margin-left: 20px;
}
.amount-text{
    font-size: 15px;
    margin-left: 20px;
    margin-top:-20px;
    font-weight: bold;
    color:#707070
}
.item-name-text{
    color:#484949;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
}
.desperate-time-text{
    color:#707070;
}
p{
    font-size: 15px;
}
.carousel{
    margin:auto;
    max-width:90%;
    height: auto;
    margin-bottom: 20px;
}
.about-us-text{
    color:#484949;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    margin: auto;
    text-align: center;
}
.enquiries-text{
    color:#000000;
    font-size: 20px;
    align-self: center;
    margin: auto;
    text-align: center;
}
.email-text{
    color:#484949;
    font-size: 12px;
    font-weight: bold;
    align-self: center;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color:black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color:black;
}

.carousel .carousel-indicators li {
    background-color: rgba(70, 70, 70, 0.5);
}
  
.carousel .carousel-indicators .active {
background-color: #444;
}

.kathode-logo-about-us{
    margin: auto;
    height:50%;
    width: 50%;
    text-align: center;
}
.about-us-para{
    margin:auto;
    width:80%;
}